# Project exclude paths
/.gradle/
/TheAlchemy/build/
/TheAlchemy/build/classes/java/main/
/TheAnvil/build/
/TheAnvil/build/classes/java/main/
/TheAssistant/Addons/build/
/TheAssistant/Addons/Commons/build/
/TheAssistant/Addons/Commons/build/classes/java/main/
/TheAssistant/Addons/Economy/build/
/TheAssistant/Addons/Economy/build/classes/java/main/
/TheAssistant/Addons/JetMinions/build/
/TheAssistant/Addons/MMOItems/build/
/TheAssistant/Addons/MMOItems/build/classes/java/main/
/TheAssistant/Addons/MythicMobs/build/
/TheAssistant/Addons/MythicMobs/build/classes/java/main/
/TheAssistant/Addons/NPC/build/
/TheAssistant/Addons/NPC/build/classes/java/main/
/TheAssistant/Addons/Paster/build/
/TheAssistant/Addons/Paster/Paster-Common/build/
/TheAssistant/Addons/Paster/Paster-Common/build/classes/java/main/
/TheAssistant/Addons/Paster/WorldEdit6/build/
/TheAssistant/Addons/Paster/WorldEdit6/build/classes/java/main/
/TheAssistant/Addons/Paster/WorldEdit7/build/
/TheAssistant/Addons/Paster/WorldEdit7/build/classes/java/main/
/TheAssistant/Addons/Placeholders/build/
/TheAssistant/Addons/Placeholders/build/classes/java/main/
/TheAssistant/Addons/Regions/build/
/TheAssistant/Addons/Regions/Region-Common/build/
/TheAssistant/Addons/Regions/Region-Common/build/classes/java/main/
/TheAssistant/Addons/Regions/Residence/build/
/TheAssistant/Addons/Regions/Residence/build/classes/java/main/
/TheAssistant/Addons/Regions/UltraRegions/build/
/TheAssistant/Addons/Regions/UltraRegions/build/classes/java/main/
/TheAssistant/Addons/Regions/WorldGuard6/build/
/TheAssistant/Addons/Regions/WorldGuard6/build/classes/java/main/
/TheAssistant/Addons/Regions/WorldGuard7/build/
/TheAssistant/Addons/Regions/WorldGuard7/build/classes/java/main/
/TheAssistant/build/
/TheAssistant/TheAssistant-API/build/
/TheAssistant/TheAssistant-API/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/build/
/TheAssistant/TheAssistant-NMS/NMS-Commons/build/
/TheAssistant/TheAssistant-NMS/NMS-Commons/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_8_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_8_R1/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_8_R3/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_8_R3/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_12_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_12_R1/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_13_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_13_R1/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_14_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_14_R1/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_15_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_15_R1/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_16_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_16_R1/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_16_R3/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_16_R3/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_17_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_17_R1/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_18_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_18_R1/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_18_R2/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_18_R2/build/classes/java/main/
/TheAssistant/TheAssistant-NMS/NMS-V1_19_R1/build/
/TheAssistant/TheAssistant-NMS/NMS-V1_19_R1/build/classes/java/main/
/TheAssistant/TheAssistant-Plugin/build/
/TheAssistant/TheAssistant-Plugin/build/classes/java/main/
/TheAuction/build/
/TheAuction/build/classes/java/main/
/TheBank/build/
/TheBank/build/classes/java/main/
/TheCollections/build/
/TheCollections/build/classes/java/main/
/TheCrafting/build/
/TheCrafting/build/classes/java/main/
/TheDragon/build/
/TheDragon/build/classes/java/main/
/TheEnchanting/build/
/TheEnchanting/build/classes/java/main/
/TheEnchanting/TheEnchanting-NMS/build/
/TheEnchanting/TheEnchanting-NMS/build/classes/java/main/
/TheEnchanting/TheEnchanting-NMS/TheEnchanting-Legacy/build/
/TheEnchanting/TheEnchanting-NMS/TheEnchanting-Legacy/build/classes/java/main/
/TheEnchanting/TheEnchanting-NMS/TheEnchanting-Newest/build/
/TheEnchanting/TheEnchanting-NMS/TheEnchanting-Newest/build/classes/java/main/
/ThePets/build/
/ThePets/build/classes/java/main/
/TheRunes/build/
/TheRunes/build/classes/java/main/
/TheRunes/TheRunes-NMS/build/
/TheRunes/TheRunes-NMS/TheRunes-Legacy/build/
/TheRunes/TheRunes-NMS/TheRunes-Legacy/build/classes/java/main/
/TheRunes/TheRunes-NMS/TheRunes-Newest/build/
/TheRunes/TheRunes-NMS/TheRunes-Newest/build/classes/java/main/
/TheSkills/build/
/TheSkills/build/classes/java/main/
/TheSouls/build/
/TheSouls/build/classes/java/main/
/TheTrades/build/
/TheTrades/build/classes/java/main/